
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #a364175f;
    color: #fff;
    border-radius: 5px;
  }
  .cart-widget {
    cursor: pointer;
    color: white;
  }

  .cart-widget{
    display: flex;
    justify-content: center;
    padding-right: 25px;
  }
  .logo-tienda {
    width: 50px;
    cursor: pointer;
  }
